<!-- container begin -->
<div class="cisco-nav">

	<!-- processbar -->
	<div id="cisco-progress-wrap">
	</div>

	<!-- topnav -->
	<div class="cisco-topnav">
		<div class="cisco-menu-expander-wrap">
			<div id="cisco-menu-expander">
			  <span></span> <span></span> <span></span>
			</div>
		</div>
		<div class="cisco-brand-wrap">
			<img class="cisco-brand-img bootpage-link" src="{{ logo }}" page_url="{{ init }}">
			<a class="cisco-brand-title bootpage-link" page_url="{{ init }}">{{ title }}</a>
		</div>
		<div class="cisco-topnav-button-wrap">
			<div class="cisco-topnav-button">
				<div class="cisco-topnav-circle" id="cisco-topnav-profile">
					<span class="icon-asset icon-profile"></span>
				</div>
			</div>
			<div class="cisco-topnav-button">
				<div class="cisco-topnav-circle" id="cisco-topnav-refresh">
					<span class="icon-asset icon-refresh"></span>
				</div>
			</div>
			<div class="cisco-topnav-button">
				<div class="cisco-topnav-circle" id="cisco-topnav-setting">
					<span class="icon-asset icon-setting"></span>
				</div>
			</div>
			<div class="cisco-topnav-button">
				<div class="cisco-topnav-circle" id="cisco-topnav-alarm">
					<span class="icon-asset icon-alert"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- topnav end -->

	<!-- sidenav -->
	<div class="cisco-sidenav">
		<div class="cisco-sidenav-menu-wrap">
{% for menu in menu_list %}
{% if menu.type == "menu" %}
			<div class="cisco-sidenav-menu-col cisco-sidenav-type-menu bootpage-link" page_url="{{ menu.url }}">
{% elif menu.type == "category" %}
			<div class="cisco-sidenav-menu-col cisco-sidenav-type-submenu" target_submenu="{{ menu.id }}">
{% endif %}
				<div class="cisco-sidenav-icon-wrap">
					<span class="sidenav-icon-asset icon-summary"></span>
				</div>
			</div>
{% endfor %}
		</div>
		
		<!-- information icon -->
		<div class="cisco-sidenav-menu-info-wrap">
			<div class="cisco-sidenav-menu-info">
				<span class="icon-asset icon-information"></span>
			</div>
		</div>
		<!-- information icon end -->

	</div>
	<!-- sidenav end -->

	<!-- mainmenu -->
	<div class="cisco-mainmenu">
		<div class="cisco-mainmenu-col-wrap">
			<a>
{% for menu in menu_list %}
{% if menu.type == "menu" %}
				<div class="cisco-mainmenu-col cisco-mainmenu-type-menu bootpage-link" page_url="{{ menu.url }}">
					<div class="cisco-mainmenu-title-wrap">
						<p class="cisco-mainmenu-title">{{ menu.title }}</p>
					</div>
				</div>
{% elif menu.type == "category" %}
				<div class="cisco-mainmenu-col cisco-mainmenu-type-submenu">
					<div class="cisco-mainmenu-title-wrap">
						<p class="cisco-mainmenu-title">{{ menu.title }}</p>
					</div>
					<div class="cisco-notice-submenu-wrap">
						<div class="cisco-notice-submenu"><span class="icon-Asset-31"></span></div>
					</div>
					<div id="{{ menu.id }}" class="cisco-submenu"> 
			            <ul class="cisco-submenu-list-wrap">
{% for submenu in menu.submenu %}
			                <li class="cisco-submenu-list bootpage-link" page_url="{{ submenu.url }}">
			                    <p class="cisco-submenu-text">{{ submenu.title }}</p>
			                </li>
{% endfor %}
			            </ul>
			        </div>
				</div>
{% endif %}
{% endfor %}
			</a>
		</div>
	</div>
	<div class="cisco-submenu-closer"></div>
	<!-- mainmenu end -->
	
	<!--information -->
	<div class="cisco-info-page-wrap">
		<div class="cisco-info">
			
		</div>
	</div>
	<!--information end -->

	<!-- profile -->
	<div class="cisco-navtop-tool cisco-profile-wrap">
		<div class="cisco-profile">
		
		</div>
	</div>
	<!-- profile end -->

	<!-- alarm -->
	<div class="cisco-navtop-tool cisco-alarm-wrap">
		<div class="cisco-alarm">
		
		</div>
	</div>
	<!-- alarm end -->
	
</div>

<div class="cisco-init-wrap">